### Correcting Date Format

In [272]:
#Importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [273]:
df1 = pd.read_excel("temp.xlsx",sheet_name = 'Sheet1')
df2 = pd.read_excel("temp.xlsx",sheet_name = 'Sheet2')

In [274]:
df1.head()

         DATE      SPOT
0  02/20/2020  457.2830
1  02/19/2020  455.3018
2  02/18/2020  452.6245
3         NaN       NaN
4  02/14/2020  446.5960

In [275]:
df1.index

RangeIndex(start=0, stop=3102, step=1)

In [276]:
df2.index

RangeIndex(start=0, stop=3102, step=1)

In [277]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3102 entries, 0 to 3101
Data columns (total 2 columns):
DATE    2570 non-null object
SPOT    2570 non-null float64
dtypes: float64(1), object(1)
memory usage: 48.5+ KB

In [278]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3102 entries, 0 to 3101
Data columns (total 2 columns):
DATE      2570 non-null object
FUTURE    2570 non-null float64
dtypes: float64(1), object(1)
memory usage: 48.5+ KB

In [279]:
df1

                     DATE      SPOT
0              02/20/2020  457.2830
1              02/19/2020  455.3018
2              02/18/2020  452.6245
3                     NaN       NaN
4              02/14/2020  446.5960
5              02/13/2020  444.2187
6     2020-12-02 00:00:00  441.8850
7     2020-11-02 00:00:00  441.9917
8     2020-10-02 00:00:00  444.9917
9                     NaN       NaN
10    2020-07-02 00:00:00  443.0576
11    2020-06-02 00:00:00  442.9667
12    2020-05-02 00:00:00  440.2267
13    2020-04-02 00:00:00  438.3879
14    2020-03-02 00:00:00  444.9418
15                    NaN       NaN
16             01/31/2020  447.9689
17             01/30/2020  448.1523
18             01/29/2020  442.5537
19             01/28/2020  442.3562
20             01/27/2020  447.2676
21                    NaN       NaN
22             01/24/2020  446.3459
23             01/23/2020  443.3804
24             01/22/2020  441.4415
25             01/21/2020  441.6027
26                    NaN       NaN
27             01/17/2020  443.5344
28             01/16/2020  440.6047
29             01/15/2020  441.6634
...                   ...       ...
3072           01/15/2010  342.6587
3073           01/14/2010  346.5339
3074           01/13/2010  344.6180
3075  2010-12-01 00:00:00  341.3880
3076  2010-11-01 00:00:00  348.4454
3077                  NaN       NaN
3078  2010-08-01 00:00:00  344.4839
3079  2010-07-01 00:00:00  342.6749
3080  2010-06-01 00:00:00  342.2711
3081  2010-05-01 00:00:00  336.3859
3082  2010-04-01 00:00:00  334.3460
3083                  NaN       NaN
3084           12/31/2009  326.1542
3085           12/30/2009  325.1338
3086           12/29/2009  328.0886
3087           12/28/2009  332.7427
3088                  NaN       NaN
3089           12/24/2009  331.4002
3090           12/23/2009  327.6990
3091           12/22/2009  325.2493
3092           12/21/2009  327.2157
3093                  NaN       NaN
3094           12/18/2009  332.0992
3095           12/17/2009  330.5194
3096           12/16/2009  339.4102
3097           12/15/2009  335.2786
3098           12/14/2009  334.7776
3099                  NaN       NaN
3100  2009-11-12 00:00:00  332.5137
3101  2009-10-12 00:00:00  334.3950

[3102 rows x 2 columns]

In [280]:
import datetime

In [281]:
for i in range(0,len(df1)):
    try:
        df1['DATE'][i]= df1['DATE'][i].strftime('%d/%m/%Y')
    except:
        continue

C:\Users\Divyam Jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [282]:
df1.dropna(inplace=True)
df1

            DATE      SPOT
0     02/20/2020  457.2830
1     02/19/2020  455.3018
2     02/18/2020  452.6245
4     02/14/2020  446.5960
5     02/13/2020  444.2187
6     02/12/2020  441.8850
7     02/11/2020  441.9917
8     02/10/2020  444.9917
10    02/07/2020  443.0576
11    02/06/2020  442.9667
12    02/05/2020  440.2267
13    02/04/2020  438.3879
14    02/03/2020  444.9418
16    01/31/2020  447.9689
17    01/30/2020  448.1523
18    01/29/2020  442.5537
19    01/28/2020  442.3562
20    01/27/2020  447.2676
22    01/24/2020  446.3459
23    01/23/2020  443.3804
24    01/22/2020  441.4415
25    01/21/2020  441.6027
27    01/17/2020  443.5344
28    01/16/2020  440.6047
29    01/15/2020  441.6634
30    01/14/2020  438.0171
31    01/13/2020  440.4292
33    01/10/2020  442.8127
34    01/09/2020  440.3113
35    01/08/2020  442.6066
...          ...       ...
3066  01/22/2010  326.1496
3067  01/21/2010  331.9878
3068  01/20/2010  335.9076
3069  01/19/2010  346.5934
3070  01/18/2010  342.6587
3072  01/15/2010  342.6587
3073  01/14/2010  346.5339
3074  01/13/2010  344.6180
3075  01/12/2010  341.3880
3076  01/11/2010  348.4454
3078  01/08/2010  344.4839
3079  01/07/2010  342.6749
3080  01/06/2010  342.2711
3081  01/05/2010  336.3859
3082  01/04/2010  334.3460
3084  12/31/2009  326.1542
3085  12/30/2009  325.1338
3086  12/29/2009  328.0886
3087  12/28/2009  332.7427
3089  12/24/2009  331.4002
3090  12/23/2009  327.6990
3091  12/22/2009  325.2493
3092  12/21/2009  327.2157
3094  12/18/2009  332.0992
3095  12/17/2009  330.5194
3096  12/16/2009  339.4102
3097  12/15/2009  335.2786
3098  12/14/2009  334.7776
3100  12/11/2009  332.5137
3101  12/10/2009  334.3950

[2570 rows x 2 columns]

In [283]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2570 entries, 0 to 3101
Data columns (total 2 columns):
DATE    2570 non-null object
SPOT    2570 non-null float64
dtypes: float64(1), object(1)
memory usage: 60.2+ KB

In [284]:
for i in range(0,len(df2)):
    try:
        df2['DATE'][i]= df2['DATE'][i].strftime('%d/%m/%Y')
    except:
        continue

C:\Users\Divyam Jain\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [285]:
df2.dropna(inplace=True)
df2

            DATE    FUTURE
0     02/20/2020  417.9537
1     02/19/2020  416.1251
2     02/18/2020  413.6605
4     02/14/2020  408.0814
5     02/13/2020  405.9708
6     02/12/2020  403.8988
7     02/11/2020  404.0561
8     02/10/2020  406.8610
10    02/07/2020  405.1186
11    02/06/2020  405.0181
12    02/05/2020  402.4955
13    02/04/2020  400.7970
14    02/03/2020  406.7712
16    01/31/2020  409.4859
17    01/30/2020  409.6361
18    01/29/2020  404.5017
19    01/28/2020  404.3040
20    01/27/2020  408.7752
22    01/24/2020  407.8809
23    01/23/2020  405.1538
24    01/22/2020  403.3649
25    01/21/2020  403.4950
27    01/17/2020  405.1908
28    01/16/2020  402.4973
29    01/15/2020  403.4472
30    01/14/2020  400.3767
31    01/13/2020  402.8330
33    01/10/2020  405.2262
34    01/09/2020  403.1918
35    01/08/2020  405.5375
...          ...       ...
3066  01/22/2010  322.4631
3067  01/21/2010  328.2346
3068  01/20/2010  332.1096
3069  01/19/2010  342.6740
3070  01/18/2010  338.7823
3072  01/15/2010  338.7823
3073  01/14/2010  342.6434
3074  01/13/2010  340.7845
3075  01/12/2010  337.6601
3076  01/11/2010  344.6881
3078  01/08/2010  340.8222
3079  01/07/2010  339.0317
3080  01/06/2010  338.6315
3081  01/05/2010  332.8081
3082  01/04/2010  330.7892
3084  12/31/2009  322.6807
3085  12/30/2009  321.6701
3086  12/29/2009  324.5924
3087  12/28/2009  329.1960
3089  12/24/2009  327.8653
3090  12/23/2009  324.2028
3091  12/22/2009  321.7787
3092  12/21/2009  323.7234
3094  12/18/2009  328.5538
3095  12/17/2009  326.9904
3096  12/16/2009  335.7859
3097  12/15/2009  331.6981
3098  12/14/2009  331.2021
3100  12/11/2009  328.9610
3101  12/10/2009  330.8218

[2570 rows x 2 columns]

In [286]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2570 entries, 0 to 3101
Data columns (total 2 columns):
DATE      2570 non-null object
FUTURE    2570 non-null float64
dtypes: float64(1), object(1)
memory usage: 60.2+ KB

In [287]:
df1.set_index('DATE',inplace=True)
df1

                SPOT
DATE
02/20/2020  457.2830
02/19/2020  455.3018
02/18/2020  452.6245
02/14/2020  446.5960
02/13/2020  444.2187
02/12/2020  441.8850
02/11/2020  441.9917
02/10/2020  444.9917
02/07/2020  443.0576
02/06/2020  442.9667
02/05/2020  440.2267
02/04/2020  438.3879
02/03/2020  444.9418
01/31/2020  447.9689
01/30/2020  448.1523
01/29/2020  442.5537
01/28/2020  442.3562
01/27/2020  447.2676
01/24/2020  446.3459
01/23/2020  443.3804
01/22/2020  441.4415
01/21/2020  441.6027
01/17/2020  443.5344
01/16/2020  440.6047
01/15/2020  441.6634
01/14/2020  438.0171
01/13/2020  440.4292
01/10/2020  442.8127
01/09/2020  440.3113
01/08/2020  442.6066
...              ...
01/22/2010  326.1496
01/21/2010  331.9878
01/20/2010  335.9076
01/19/2010  346.5934
01/18/2010  342.6587
01/15/2010  342.6587
01/14/2010  346.5339
01/13/2010  344.6180
01/12/2010  341.3880
01/11/2010  348.4454
01/08/2010  344.4839
01/07/2010  342.6749
01/06/2010  342.2711
01/05/2010  336.3859
01/04/2010  334.3460
12/31/2009  326.1542
12/30/2009  325.1338
12/29/2009  328.0886
12/28/2009  332.7427
12/24/2009  331.4002
12/23/2009  327.6990
12/22/2009  325.2493
12/21/2009  327.2157
12/18/2009  332.0992
12/17/2009  330.5194
12/16/2009  339.4102
12/15/2009  335.2786
12/14/2009  334.7776
12/11/2009  332.5137
12/10/2009  334.3950

[2570 rows x 1 columns]

In [288]:
df2.set_index('DATE',inplace=True)
df2

              FUTURE
DATE
02/20/2020  417.9537
02/19/2020  416.1251
02/18/2020  413.6605
02/14/2020  408.0814
02/13/2020  405.9708
02/12/2020  403.8988
02/11/2020  404.0561
02/10/2020  406.8610
02/07/2020  405.1186
02/06/2020  405.0181
02/05/2020  402.4955
02/04/2020  400.7970
02/03/2020  406.7712
01/31/2020  409.4859
01/30/2020  409.6361
01/29/2020  404.5017
01/28/2020  404.3040
01/27/2020  408.7752
01/24/2020  407.8809
01/23/2020  405.1538
01/22/2020  403.3649
01/21/2020  403.4950
01/17/2020  405.1908
01/16/2020  402.4973
01/15/2020  403.4472
01/14/2020  400.3767
01/13/2020  402.8330
01/10/2020  405.2262
01/09/2020  403.1918
01/08/2020  405.5375
...              ...
01/22/2010  322.4631
01/21/2010  328.2346
01/20/2010  332.1096
01/19/2010  342.6740
01/18/2010  338.7823
01/15/2010  338.7823
01/14/2010  342.6434
01/13/2010  340.7845
01/12/2010  337.6601
01/11/2010  344.6881
01/08/2010  340.8222
01/07/2010  339.0317
01/06/2010  338.6315
01/05/2010  332.8081
01/04/2010  330.7892
12/31/2009  322.6807
12/30/2009  321.6701
12/29/2009  324.5924
12/28/2009  329.1960
12/24/2009  327.8653
12/23/2009  324.2028
12/22/2009  321.7787
12/21/2009  323.7234
12/18/2009  328.5538
12/17/2009  326.9904
12/16/2009  335.7859
12/15/2009  331.6981
12/14/2009  331.2021
12/11/2009  328.9610
12/10/2009  330.8218

[2570 rows x 1 columns]

In [289]:
df = pd.concat([df1,df2],axis=1, join='inner')

In [290]:
df

                SPOT    FUTURE
DATE
02/20/2020  457.2830  417.9537
02/19/2020  455.3018  416.1251
02/18/2020  452.6245  413.6605
02/14/2020  446.5960  408.0814
02/13/2020  444.2187  405.9708
02/12/2020  441.8850  403.8988
02/11/2020  441.9917  404.0561
02/10/2020  444.9917  406.8610
02/07/2020  443.0576  405.1186
02/06/2020  442.9667  405.0181
02/05/2020  440.2267  402.4955
02/04/2020  438.3879  400.7970
02/03/2020  444.9418  406.7712
01/31/2020  447.9689  409.4859
01/30/2020  448.1523  409.6361
01/29/2020  442.5537  404.5017
01/28/2020  442.3562  404.3040
01/27/2020  447.2676  408.7752
01/24/2020  446.3459  407.8809
01/23/2020  443.3804  405.1538
01/22/2020  441.4415  403.3649
01/21/2020  441.6027  403.4950
01/17/2020  443.5344  405.1908
01/16/2020  440.6047  402.4973
01/15/2020  441.6634  403.4472
01/14/2020  438.0171  400.3767
01/13/2020  440.4292  402.8330
01/10/2020  442.8127  405.2262
01/09/2020  440.3113  403.1918
01/08/2020  442.6066  405.5375
...              ...       ...
01/22/2010  326.1496  322.4631
01/21/2010  331.9878  328.2346
01/20/2010  335.9076  332.1096
01/19/2010  346.5934  342.6740
01/18/2010  342.6587  338.7823
01/15/2010  342.6587  338.7823
01/14/2010  346.5339  342.6434
01/13/2010  344.6180  340.7845
01/12/2010  341.3880  337.6601
01/11/2010  348.4454  344.6881
01/08/2010  344.4839  340.8222
01/07/2010  342.6749  339.0317
01/06/2010  342.2711  338.6315
01/05/2010  336.3859  332.8081
01/04/2010  334.3460  330.7892
12/31/2009  326.1542  322.6807
12/30/2009  325.1338  321.6701
12/29/2009  328.0886  324.5924
12/28/2009  332.7427  329.1960
12/24/2009  331.4002  327.8653
12/23/2009  327.6990  324.2028
12/22/2009  325.2493  321.7787
12/21/2009  327.2157  323.7234
12/18/2009  332.0992  328.5538
12/17/2009  330.5194  326.9904
12/16/2009  339.4102  335.7859
12/15/2009  335.2786  331.6981
12/14/2009  334.7776  331.2021
12/11/2009  332.5137  328.9610
12/10/2009  334.3950  330.8218

[2570 rows x 2 columns]

In [291]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2570 entries, 02/20/2020 to 12/10/2009
Data columns (total 2 columns):
SPOT      2570 non-null float64
FUTURE    2570 non-null float64
dtypes: float64(2)
memory usage: 60.2+ KB

In [292]:
df.to_csv("PRECIOUS METALS.csv")

In [241]:
data = pd.read_csv("AGRICULTURE.csv", index_col='DATE',parse_dates=True)

In [242]:
data

                SPOT    FUTURE
DATE
2009-12-10  270.1053  126.8045
2009-12-11  273.7968  128.4607
2009-12-14  279.7481  131.1803
2009-12-15  278.2661  130.4855
2009-12-16  282.3329  132.3927
2009-12-17  276.6725  129.7385
2009-12-18  275.9881  129.4177
2009-12-21  273.4621  128.2336
2009-12-22  273.4623  128.2340
2009-12-23  275.2489  129.0720
2009-12-24  275.9344  129.3937
2009-12-28  281.6966  132.0968
2009-12-29  280.2354  131.4120
2009-12-30  280.5796  131.5738
2009-12-31  281.1520  131.8426
2010-01-04  286.2587  134.2390
2010-01-05  284.8554  133.5812
2010-01-06  287.7718  134.9491
2010-01-07  283.2081  132.8093
2010-01-08  283.5692  132.9789
2010-01-11  281.8437  132.1075
2010-01-12  273.2916  127.9096
2010-01-13  274.6409  128.7421
2010-01-14  271.4171  127.4701
2010-01-15  265.5790  124.9885
2010-01-19  264.6740  124.5632
2010-01-20  262.4765  123.5291
2010-01-21  264.1934  124.3374
2010-01-22  262.0608  123.3339
2010-01-25  262.2462  123.4218
...              ...       ...
2020-01-08  263.6122   86.8179
2020-01-09  264.2494   87.0258
2020-01-10  266.1397   87.6444
2020-01-13  265.3544   87.3841
2020-01-14  266.0575   87.5994
2020-01-15  264.7132   87.1437
2020-01-16  261.4743   86.0811
2020-01-17  264.5033   87.0820
2020-01-21  263.2320   86.6782
2020-01-22  263.5408   86.7836
2020-01-23  263.7457   86.8548
2020-01-24  260.5628   85.8103
2020-01-27  257.8717   84.9350
2020-01-28  258.7649   85.2328
2020-01-29  256.8402   84.6025
2020-01-30  253.9551   83.6558
2020-01-31  252.9073   83.3142
2020-02-03  252.5593   83.2102
2020-02-04  253.2632   83.4457
2020-02-05  253.8294   83.6358
2020-02-06  253.4191   83.5043
2020-02-07  254.5829   83.8913
2020-02-10  255.2239   83.9584
2020-02-11  255.5838   83.9361
2020-02-12  257.8935   84.5559
2020-02-13  257.3808   84.3035
2020-02-14  257.3283   84.1493
2020-02-18  260.0260   85.0460
2020-02-19  260.1748   85.0983
2020-02-20  257.9385   84.3705

[2569 rows x 2 columns]